<p id="notice"><%= notice %></p>

<p>
  <strong>Private:</strong>
  <%= @video.private %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <a href='<%= @video.video %>' target="_blank"><%= image_tag @video.thumbnail, height: '100px', width: '170px' %></a>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
