<!DOCTYPE html>
<html>
  <head>
    <title>MyVideos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="bs-component">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">WATCH VIDEOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <div class="my-2 my-lg-0 btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-danger"><%= current_user ? current_user.email : "Guest" %></button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                <% if current_user %>
                  <a class="dropdown-item" href='<%= videos_path %>'>My Videos</a>
                  <%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "dropdown-item") %>
                <% else %>
                  <a class="dropdown-item" href='<%= new_user_session_path %>'>Sign in</a>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </nav>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
